{% extends 'base.html' %}

{% block header %}
	{% include 'SuirHeader.html' %}
{% endblock %}

{% block content %}
	<div class="container detalle">
		<div class="row">
			<div class="col-8 mx-auto">
				<h4 class="detalle-title text-uppercase text-wrap text-light">
					{{ publicacion.titulo | upper }}
				</h4>
				<p class="lead">{{ publicacion.autor.first_name | lower | capitalize }} {{ publicacion.autor.last_name | lower | capitalize }}</p>
				<p class="text-muted">{{ publicacion.fecha | date:"d-M-Y" }}</p>

				<div class="detalle-body">
					<img src="{{ publicacion.portada.url }}" alt="imagen publicación" class="detalle-body__img mx-auto">
					<div class="text-wrap">
						{{ publicacion.cuerpo | safe }}
					</div>
					{% if publicacion.tipo.elemento == 'informe' and publicacion.documento %}
						<p>
							<a class="detalle-link" href="{{  publicacion.documento.url  }}">Descargar Informe <span>
								{% bs_icon 'download' %}
							</span>
							</a><span class="badge badge-secondary">{{ publicacion.documento.size | filesizeformat }}</span>
						</p>
					{% endif %}
				</div>
				{% if publicacion.tipo.elemento == 'noticia' and tags %}
					<p class="text-wrap">
						{% for tag in tags %}
						<span class="badge badge-pill badge-info">{{ tag | lower }}</span>&nbsp;
						{% endfor %}
					</p>
				{% endif %}
			</div>
		</div>
		<b-row></b-row>
	</div>
{% endblock %}

{% block footer %}
	{% include 'SuirFooter.html' %}
{% endblock %}