{% extends './base.html' %}

{% block header %}
	{% include './SuirHeader.html' with seccion=tipo %}
{% endblock %}

{% if carrusel %}
	{% block carrusel %}
		{% include './SuirCarousel.html' %}
	{% endblock %}
{% endif %}

{% block content %}

<div>
	{% if anuncios and anuncios.count > 0 %}
		<div class="container anuncio-container d-none d-md-block">
			<div class="row">
				<div class="col-8 mx-auto">
					<a class="anuncio-link" href="{{ anuncios.0.url }}" target="_blank">
							<img
						src="{{ anuncios.0.imagen.path }}"
						title="{{ anuncios.0.titulo }}"
						class="anuncio-img rounded"
						>
					</a>
				</div>
			</div>
		</div>
	{% endif %}
	
	{% if noticias and noticias.count > 0 %}
		<section id="seccionNoticias" class="seccion-publicacion">
			{% include 'RowPublicaciones.html' with tipo='noticias' titulo='noticias' lista=noticias only %}
		</section>
	{% endif %}

	{% if anuncios and anuncios.count > 1 %}
		<div v-if="anuncios && anuncios.length > 1" class="container anuncio-container d-none d-md-block">
			<div class="row">
				<div class="col-8 mx-auto">
					<a class="anuncio-link" href="{{ anuncios.1.url }}" target="_blank">
							<img src="{{ anuncios.1.imagen.path }}" title="{{ anuncios.1.titulo }}" class="anuncio-img rounded">
					</a>
				</div>
			</div>
		</div>
	{% endif %}

	{% if informes and informes.count > 0 %}
		<section id="seccionInformes" class="seccion-publicacion">
			{% include 'RowPublicaciones.html' with tipo='informes' titulo='Gestión Pública' lista=informes only %}
		</section>
	{% endif %}

</div>
	
{% endblock %}

{% block footer %}
	{% include './SuirFooter.html' %}
{% endblock %}