<div class="container publicacion-list">
	<div class="row">
		<div class="col mx-auto">
			<h1 class="text-uppercase display-4 publicacion-list__title">
				{{ tipo | upper }}{{ page_obj | pluralize | upper }} &#10022;
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-4 mx-auto text-center">
			<div class="d-inline-block mx-auto">
				<nav aria-label="paginacion-top">
					<ul class="pagination">
						{% if not page_obj.has_previous %}
							<li class="page-item disabled"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-disabled="true" tabindex="-1">Anterior</a></li>
						{% else %}
							<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-disabled="false">Anterior</a></li>
						{% endif %}
						{% for step in elided_range %}
							{% if step == page_obj.number %}
								<li class="page-item active" aria-current="page"><a href="?page={{ step }}" class="page-link">{{ step }}</a></li>
							{% elif step == '...' %}
								<li class="page-item  disabled">{{ step }}</li>
							{% else %}
								<li class="page-item"><a href="?page={{ step }}" class="page-link">{{ step }}</a></li>
							{% endif %}
						{% endfor %}
						{% if not page_obj.has_next %}
							<li class="page-item disabled"><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-disabled="true" tabindex="-1">Siguiente</a></li>
						{% else %}
							<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-disabled="false">Siguiente</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col mx-auto">
			
			{% load suir_extras %}
			
			{% with por_fila=4 %}
				{% grid_range page_obj por_fila as filas %}

				{% for fila in filas %}
					{% list_slice page_obj fila por_fila as lista %}
					{% include 'RowPublicaciones.html' with listrow=True %}
				{% endfor %}
			{% endwith %}
			
		</div>
	</div>
	<div class="row">
		<div class="col-4 mx-auto text-center">
			<div class="d-inline-block mx-auto">
				<nav aria-label="paginacion-bottom">
					<ul class="pagination">
						{% if not page_obj.has_previous %}
							<li class="page-item disabled"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-disabled="true" tabindex="-1">Anterior</a></li>
						{% else %}
							<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-disabled="false">Anterior</a></li>
						{% endif %}
						{% for step in elided_range %}
							{% if step == page_obj.number %}
								<li class="page-item active" aria-current="page"><a href="?page={{ step }}" class="page-link">{{ step }}</a></li>
							{% elif step == '...' %}
								<li class="page-item  disabled">{{ step }}</li>
							{% else %}
								<li class="page-item"><a href="?page={{ step }}" class="page-link">{{ step }}</a></li>
							{% endif %}
						{% endfor %}
						{% if not page_obj.has_next %}
							<li class="page-item disabled"><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-disabled="true" tabindex="-1">Siguiente</a></li>
						{% else %}
							<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-disabled="false">Siguiente</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
